<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>Interval:</strong>
  <%= @event.interval %>
</p>

<p>
  <strong>Action day:</strong>
  <%= @event.action_day %>
</p>

<p>
  <strong>Next Five Action Dates:</strong>
  <%= @event.next_four_action_dates %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
